!just-a-doc/dist/templates/**
.password.txt
exports
.builder-cache

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependency directories
node_modules

# dotenv environment variables file
.env

.mnemonic
.privatekey

www/www/**/*.js
www/www/*.js
**/dist/**/*
**/exports/**/*

/chain/demo/**/*.js
/chain/block-worker.js

.DS_Store
.wireit

packages/messages/exports
packages/**/www/**/*.js
packages/**/www/**/index.html

packages/**/www/**/*.ts
